.row.d-flex.align-items-center.my-3
    .comments.col-md-12
        .card.shadow
            .mt-2
                .d-flex.flex-row.p-3
                    img.rounded-circle.me-3(src='../assets/images/avatar.webp' width='40' height='40')
                    .w-100
                        .d-flex.flex-row.align-items-center
                            span.mr-2 Brian selter
                        .d-flex.flex-row.align-items-center
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            small.px-2 30 min
                        p.text-justify.comment-text.mb-0
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                .d-flex.flex-row.p-3
                    img.rounded-circle.me-3(src='../assets/images/avatar.webp' width='40' height='40')
                    .w-100
                        .d-flex.flex-row.align-items-center
                            span.mr-2 Brian selter
                        .d-flex.flex-row.align-items-center
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            small.px-2 30 min
                        p.text-justify.comment-text.mb-0
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                .d-flex.flex-row.p-3
                    img.rounded-circle.me-3(src='../assets/images/avatar.webp' width='40' height='40')
                    .w-100
                        .d-flex.flex-row.align-items-center
                            span.mr-2 Brian selter
                        .d-flex.flex-row.align-items-center
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            i.fa-solid.fa-star.rating-color.mr-2
                            small.px-2 30 min
                        p.text-justify.comment-text.mb-0
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .mt-3.d-flex.flex-row.align-items-center.p-3.form-color
                img.rounded-circle.me-2(src='../assets/images/avatar.webp' width='50')
                textarea.form-control(type='text' placeholder='Enter your comment...')
            .my-2
                button.btn.btn-success.px-5.py-1  Post Review
