.container.p-0
    ul.navbar-nav.me-auto.mb-2.mb-lg-0.flex-md-row
        li.nav-item
            a.nav-link.px-2(href="#") Design <span class="px-2 d-none d-md-inline"> / </span>
        li.nav-item
            a.nav-link(href="#") Logo Design
    p.text-muted.px-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sed magnam laborum rerum animi facilis fugit nisi cumque expedita quae qui ea quasi consectetur consequatur sapiente eligendi labore, nemo eveniet.
    .row.m-0
        .col-12.col-md-8
            +stars("(4.2)")
        .col-12.col-md-4
            +icons