.container
    .card.bg-light.p-3.my-2.shadow
        h3.py-3 Info
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-dollar-sign.px-2
                p Lorem ipsum dolor sit amet
            .price 100$
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-clock.px-2
                p Lorem ipsum dolor sit amet
            .price 100$
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-people-group.px-2
                p Lorem ipsum dolor sit amet
            .price 100$
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-briefcase.px-2
                p Lorem ipsum dolor sit amet
            .price 100$
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-list.px-2
                p Lorem ipsum dolor sit amet
            .price 100$
        .d-flex.justify-content-evenly
            .d-inline-flex
                i.fa-solid.fa-list.px-2
                p Lorem ipsum dolor sit amet
            .price 100$

    .card.bg-light.p-3.my-2.shadow
        h3.py-3 Share & Earn
        <div class="social-icon mb-4">
            <a class="social-linkedin btn  m-1" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-facebook btn  m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="social-whatsapp btn  m-1" href="#" role="button"><i class="fab fa-whatsapp"></i></a>
            <a class="social-twitter btn  m-1" href="#" role="button"><i class="fab fa-twitter"></i></a>
            <a class="social-copy btn  m-1" href="#" role="button"><i class="fa-solid fa-copy"></i></a>
        </div>