.swiper.slider
    .swiper-wrapper
        .swiper-slide
            img(src="../assets/images/slider/4.jpg", alt="slider")
        .swiper-slide
            img(src="../assets/images/slider/4.jpg", alt="slider")
        .swiper-slide
            img(src="../assets/images/slider/4.jpg", alt="slider")
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination