.container.bg-light.py-2.shadow
    .d-flex.justify-content-between.align-items-baseline
        h4.py-4 Seller Other Services
        a(href="#") See More
    .card.my-3.shadow-sm
        .image-container.d-flex
            .first
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
            .product-detail-container.p-2
                h5.dress-name White traditional long dress
                .d-flex.pt-1.justify-content-between
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-star.rating-color.px-2
                        p.text-muted 4.7
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-cart-shopping.px-2
                        p.text-muted 55
                    .px-2
                        a(href="") 
                            i.fa-regular.fa-heart
    .card.my-3.shadow-sm
        .image-container.d-flex
            .first
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
            .product-detail-container.p-2
                h5.dress-name White traditional long dress
                .d-flex.pt-1.justify-content-between
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-star.rating-color.px-2
                        p.text-muted 4.7
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-cart-shopping.px-2
                        p.text-muted 55
                    .px-2
                        a(href="") 
                            i.fa-regular.fa-heart
    .card.my-3.shadow-sm
        .image-container.d-flex
            .first
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
            .product-detail-container.p-2
                h5.dress-name White traditional long dress
                .d-flex.pt-1.justify-content-between
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-star.rating-color.px-2
                        p.text-muted 4.7
                    .d-flex.align-items-baseline
                        i.fa-solid.fa-cart-shopping.px-2
                        p.text-muted 55
                    .px-2
                        a(href="") 
                            i.fa-regular.fa-heart