.row.py-5.m-0.justify-content-evenly.justify-md-content-between
    .d-flex.justify-content-between.align-items-baseline
        h3.py-4 Suggest Services
        a(href="#") See More
    .card.shadow.my-2(style="width:16rem;")
        .image-container
            .first.position-relative
                a.wishlist.position-absolute.bg-light.p-2.rounded-circle(href="#")
                    i.fa-regular.fa-heart
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
        .product-detail-container.p-2
            h5.dress-name White traditional long dress
            .d-flex.align-items-center.pt-1
                .color-select.d-flex
                    i.fa-solid.fa-star.rating-color 
                    p.text-muted 4.7
                .d-flex
                    i.fa-solid.fa-cart-shopping.px-2
                    p.text-muted 55
            .d-flex.justify-content-between.align-items-baseline.pt-1
                div
                    img.img-fluid.rounded-circle.me-2(src="../assets/images/avatar.webp", alt="avtar",width="50")
                .buy.d-flex
                    i.fa-solid.fa-tag.px-2
                    p.text-muted 10$
    .card.shadow.my-2(style="width:16rem;")
        .image-container
            .first.position-relative
                a.wishlist.position-absolute.bg-light.p-2.rounded-circle(href="#")
                    i.fa-regular.fa-heart
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
        .product-detail-container.p-2
            h5.dress-name White traditional long dress
            .d-flex.align-items-center.pt-1
                .color-select.d-flex
                    i.fa-solid.fa-star.rating-color 
                    p.text-muted 4.7
                .d-flex
                    i.fa-solid.fa-cart-shopping.px-2
                    p.text-muted 55
            .d-flex.justify-content-between.align-items-baseline.pt-1
                div
                    img.img-fluid.rounded-circle.me-2(src="../assets/images/avatar.webp", alt="avtar",width="50")
                .buy.d-flex
                    i.fa-solid.fa-tag.px-2
                    p.text-muted 10$
    .card.shadow.my-2(style="width:16rem;")
        .image-container
            .first.position-relative
                a.wishlist.position-absolute.bg-light.p-2.rounded-circle(href="#")
                    i.fa-regular.fa-heart
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
        .product-detail-container.p-2
            h5.dress-name White traditional long dress
            .d-flex.align-items-center.pt-1
                .color-select.d-flex
                    i.fa-solid.fa-star.rating-color 
                    p.text-muted 4.7
                .d-flex
                    i.fa-solid.fa-cart-shopping.px-2
                    p.text-muted 55
            .d-flex.justify-content-between.align-items-baseline.pt-1
                div
                    img.img-fluid.rounded-circle.me-2(src="../assets/images/avatar.webp", alt="avtar",width="50")
                .buy.d-flex
                    i.fa-solid.fa-tag.px-2
                    p.text-muted 10$
    .card.shadow.my-2(style="width:16rem;")
        .image-container
            .first.position-relative
                a.wishlist.position-absolute.bg-light.p-2.rounded-circle(href="#")
                    i.fa-regular.fa-heart
                img.img-fluid.rounded.thumbnail-image(src='../assets/images/certficate.jpeg')
        .product-detail-container.p-2
            h5.dress-name White traditional long dress
            .d-flex.align-items-center.pt-1
                .color-select.d-flex
                    i.fa-solid.fa-star.rating-color 
                    p.text-muted 4.7
                .d-flex
                    i.fa-solid.fa-cart-shopping.px-2
                    p.text-muted 55
            .d-flex.justify-content-between.align-items-baseline.pt-1
                div
                    img.img-fluid.rounded-circle.me-2(src="../assets/images/avatar.webp", alt="avtar",width="50")
                .buy.d-flex
                    i.fa-solid.fa-tag.px-2
                    p.text-muted 10$